*.dll
*.exe
*.pdb
SampleProject/obj/project.nuget.cache
SampleProject/obj/project.assets.json
*.dll
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.vcproj.*.user
[Dd]ebug
[Rr]elease
obj/
.vs/
*.suo
paket-files/